<ul class="item-header-list">
  <li class="item-header" ng-repeat="header in list.header">
    <span class="item-header-value">{{header}}</span>
  </li>
</ul>

<ul class="item-list">
  <li class="item" ng-repeat="item in list.items">
    <h3 class="item-title">{{item.title}}</h3>
    <time class="item-creation" datetime="{{item.time.raw}}">{{item.time.display}}</time>
    <mark class="item-type">{{item.type}}</mark>
    <span class="item-status"><i class="{{item.status.icon}}"></i>{{item.status.text}}</span>
    <progress class="item-progress" value="{{item.progress.value}}" max="{{item.progress.max}}"></progress>
  </li>
</ul>