* {
  box-sizing: border-box; 
  color: $color-text-dark;
}

body {
  background-color: $color-bg-main;
  font-size: 0.85rem;
}

.app {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: $size-container;
  padding: 1rem;

  &-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2em 0;
  }

  &-controls {
    display: flex;
    
    & > * {
      margin-left: 1em;
    }
  }

  &-title {
    font-size: 2em;
    margin: 0;
  }
}