& {
  display: flex;
  background-color: $notification-color-bg;
  align-items: stretch;
  line-height: 1.8;
  border-radius: $notification-size-radius;
  margin-bottom: 1em;
  height: 2.75rem;
  max-height: 2.75rem;
  box-shadow: 0 0 0 1px transparent inset;
  transform: translateX(calc(100% - 2.75rem - 2px));
  transition: transform 0.3s ease-out, box-shadow 0s 0.3s, margin-right 0.5s 5s, opacity 0.4s 5.1s, max-height 0.3s 5.8s, margin-bottom 0.3s 5.8s;
  
  &:hover {
    transform: translateX(0);
    box-shadow: 0 0 0 1px $notification-color-border inset;
    transition: transform 0.3s ease-in, box-shadow 0s 0s, margin-right 0.5s 5s, opacity 0.4s 5.1s, max-height 0.3s 5.8s, margin-bottom 0.3s 5.8s;
  }

  &:hover &-message {
    visibility: visible;
    transition: visibility 0s 0s;
  }

  &:hover &-icon {
    border-radius: $notification-size-radius 0 0 $notification-size-radius;
    transition: border-radius 0.2s 0.3s;
  }

  @media screen and (min-width: 1281px) {
    line-height: 1.2;
    box-shadow: 0 0 0 1px $notification-color-border inset;
    transform: translateX(0);
  }

  &-icon,
  &-message {
    padding: 1em;
  }

  &-icon {
    width: 2.75rem;
    text-align: center;
    box-shadow: 0 0 0 1px $notification-color-border inset;
    border-radius: $notification-size-radius;
    transition: border-radius 0.2s 0s;
    
    @media screen and (min-width: 1281px) {
      border-radius: $notification-size-radius 0 0 $notification-size-radius;
    }
  }

  &-message {
    margin: 0;
    visibility: hidden;
    transition: visibility 0s 0.3s;

    @media screen and (min-width: 1281px) {
      visibility: visible;
    }
  }
}

&-removing {
  margin-right: calc(-2.75rem - 2px);
  opacity: 0;
  max-height: 0;
  margin-bottom: 0;
}

&-list {
  display: none;
  position: absolute;
  overflow: hidden;
  top: 1rem;
  right: 1rem;
  list-style-type: none;
  padding: 0.2rem 0 0;
  margin: 0;

  @media screen and (min-width: 800px) {
    display: block;
  }
}