& {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: $app-size-container;
  margin: auto;
  padding: 1rem;

  @media screen and (min-width: 850px) {
    width: 80%;
  }
}

&-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2em 0;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 710px) {
    flex-direction: row;
  }
}

&-controls {
  display: flex;
  flex-direction: column;
  margin-top: 2em;

  @media screen and (min-width: 524px) {
    flex-direction: row;
  }

  @media screen and (min-width: 710px) {
    margin-top: 0;
  }
  
  & > * {
    margin: 1em 0 0 0;

    @media screen and (min-width: 524px) {
      margin: 0 0 0 1em;
      min-width: 15em;
    }
  }
}

&-title {
  font-size: 2em;
  margin: 0;
}