&-container {
  width: 100%;
}

&-header {
  padding: 1em 0.5em;
  flex-basis: calc(100% / 4);
  flex-grow: 1;
  
  @media screen and (min-width: 710px) {
    flex-basis: calc(50% / 3);

    &:nth-child(1) {
      flex-basis: 50%;
      flex-grow: 4;
    }
  }

  &-list {
    display: none;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    margin: 0 0 1em;
    padding: 0 1em;
    width: 100%;
    border: 1px solid $item-color-header-border;
    border-radius: $item-size-header-radius;

    @media screen and (min-width: 524px) {
      display: flex;
    }
  }
}

& {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 1em 0.5em 1em;
  border-top: 1px solid $item-color-header-border;

  @media screen and (min-width: 524px) {
    flex-direction: row;
    align-items: center;
    padding: 1em 0;
    border: none;
  }

  &-field {
    padding: 0.75em 0.5em;

    &::before {
      content: attr(data-field);
      font-style: italic;
    }

    @media screen and (min-width: 524px) {
      padding: 0 0.5em;
      flex-basis: calc(100% / 4);
      flex-grow: 1;

      &::before {
        display: none;
      }
    }

    @media screen and (min-width: 710px) {
      flex-basis: calc(50% / 3);    
    }
  }

  &-title {
    width: calc(100% + 2em);
    margin: 0 0 0 -1em;
    padding-left: 1.75em;
    padding-right: 1.75em;
    font-size: 1em;
    font-weight: 400;
    border-bottom: 1px solid $item-color-header-border;

    @media screen and (min-width: 524px) {
      width: 100%;
      margin: 0;
      border: none;
    }

    @media screen and (min-width: 710px) {
      flex-basis: 50%;
      flex-grow: 4;  
    }
  }

  &-progress {
    position: absolute;
    height: 0.5em;
    left: 0;
    bottom: 0;
    z-index: -1;

    @media screen and (min-width: 524px) {
      height: 100%;
    }
  }
}

&-list {
  width: calc(100% + 2rem);
  list-style-type: none;
  margin: 0 0 0 -1rem;
  padding: 0;
  border-bottom: 1px solid $item-color-header-border;

  @media screen and (min-width: 524px) {
    width: 100%;
    margin: 0;
    border: none;
  }
}